* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 width: 512px;
 background-color: #191d7b;
}

img {
    width: 100%;
}

video {
    width: 100%;
}


h2 {
    font-family: 'Sigmar', cursive;
    color: white;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

p {
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.hero {
    padding: 0;
    padding-top: 112px;
    text-align: center;
}

.hero h2 {
  line-height: 1.1;
}

.hero p {
    padding: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cards {
     margin-top: 50px;
}

.hero-buttons button {
    display: block;
    margin: 0 auto 18px;
    border: none;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    height: 50px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2rem;
}

#download {
    background-color: #ffffff;
}

#browser {
    background-color: #5865f2;
    color: white;
}

.card {
    margin: 0 auto 70px;
    padding: 2em;
    padding-top: 2em;
   max-width: 400px;
   border-radius: 25px;
   background-color: #5d64d1;
   position: relative;
   line-height: 1.1;
   }

   .card video {
    margin: 0 auto;
    border-radius: 25px;
   }

   #discord-cube {
    position: absolute;
    top: -50px;
    left: 30px;
    width: 90px;
   }

   #eyes {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
   }
    
#card2 {
  background-image: url('assets/img/background.png');
  background-size: cover;
}